*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
::before,
::after {
  --tw-content: '';
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role='button'] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow-colored: 0 0 rgba(0, 0, 0, 0);
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow-colored: 0 0 rgba(0, 0, 0, 0);
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow-colored: 0 0 rgba(0, 0, 0, 0);
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.pointer-events-none {
  pointer-events: none;
}
.visible {
  visibility: visible;
}
.\!visible {
  visibility: visible !important;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.top-0 {
  top: 0px;
}
.left-0 {
  left: 0px;
}
.top-11 {
  top: 2.75rem;
}
.left-2\/4 {
  left: 50%;
}
.top-12 {
  top: 3rem;
}
.left-8 {
  left: 2rem;
}
.top-4 {
  top: 1rem;
}
.right-8 {
  right: 2rem;
}
.bottom-0 {
  bottom: 0px;
}
.right-0 {
  right: 0px;
}
.top-3 {
  top: 0.75rem;
}
.right-3 {
  right: 0.75rem;
}
.bottom-3 {
  bottom: 0.75rem;
}
.left-3 {
  left: 0.75rem;
}
.-bottom-1 {
  bottom: -0.25rem;
}
.z-2 {
  z-index: 2;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-3 {
  z-index: 3;
}
.z-1 {
  z-index: 1;
}
.z-50 {
  z-index: 50;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-6 {
  grid-column: span 6 / span 6;
}
.col-span-8 {
  grid-column: span 8 / span 8;
}
.row-span-3 {
  grid-row: span 3 / span 3;
}
.row-\[span_16_\/_span_16\] {
  grid-row: span 16 / span 16;
}
.row-start-2 {
  grid-row-start: 2;
}
.row-start-3 {
  grid-row-start: 3;
}
.row-start-4 {
  grid-row-start: 4;
}
.m-4 {
  margin: 1rem;
}
.m-0 {
  margin: 0px;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.-mx-2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.-mx-5 {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.ml-4 {
  margin-left: 1rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-0 {
  margin-bottom: 0px;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mb-7 {
  margin-bottom: 1.75rem;
}
.mt-12 {
  margin-top: 3rem;
}
.-mt-5 {
  margin-top: -1.25rem;
}
.-mb-9 {
  margin-bottom: -2.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-9 {
  margin-bottom: 2.25rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mr-4 {
  margin-right: 1rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mt-1\.5 {
  margin-top: 0.375rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-auto {
  margin-left: auto;
}
.mb-2\.5 {
  margin-bottom: 0.625rem;
}
.ml-5 {
  margin-left: 1.25rem;
}
.-ml-2 {
  margin-left: -0.5rem;
}
.-mt-8 {
  margin-top: -2rem;
}
.mt-16 {
  margin-top: 4rem;
}
.mb-16 {
  margin-bottom: 4rem;
}
.mt-14 {
  margin-top: 3.5rem;
}
.mt-7 {
  margin-top: 1.75rem;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flow-root {
  display: flow-root;
}
.grid {
  display: grid;
}
.inline-grid {
  display: inline-grid;
}
.contents {
  display: contents;
}
.hidden {
  display: none;
}
.h-5 {
  height: 1.25rem;
}
.h-full {
  height: 100%;
}
.h-10 {
  height: 2.5rem;
}
.h-2\/5 {
  height: 40%;
}
.h-auto {
  height: auto;
}
.h-7 {
  height: 1.75rem;
}
.h-8 {
  height: 2rem;
}
.h-13 {
  height: 3.25rem;
}
.h-14 {
  height: 3.5rem;
}
.h-11 {
  height: 2.75rem;
}
.h-15 {
  height: 3.75rem;
}
.h-16 {
  height: 4rem;
}
.h-0\.5 {
  height: 0.125rem;
}
.h-0 {
  height: 0px;
}
.h-1 {
  height: 0.25rem;
}
.h-6 {
  height: 1.5rem;
}
.h-2 {
  height: 0.5rem;
}
.h-3\/6 {
  height: 50%;
}
.h-18 {
  height: 4.5rem;
}
.max-h-11 {
  max-height: 2.75rem;
}
.min-h-11 {
  min-height: 2.75rem;
}
.min-h-12 {
  min-height: 3rem;
}
.w-1 {
  width: 0.25rem;
}
.w-2 {
  width: 0.5rem;
}
.w-3 {
  width: 0.75rem;
}
.w-4 {
  width: 1rem;
}
.w-5 {
  width: 1.25rem;
}
.w-6 {
  width: 1.5rem;
}
.w-7 {
  width: 1.75rem;
}
.w-8 {
  width: 2rem;
}
.w-9 {
  width: 2.25rem;
}
.w-10 {
  width: 2.5rem;
}
.w-11 {
  width: 2.75rem;
}
.w-12 {
  width: 3rem;
}
.w-13 {
  width: 3.25rem;
}
.w-14 {
  width: 3.5rem;
}
.w-15 {
  width: 3.75rem;
}
.w-16 {
  width: 4rem;
}
.w-18 {
  width: 4.5rem;
}
.w-20 {
  width: 5rem;
}
.w-1\/2 {
  width: 50%;
}
.w-full {
  width: 100%;
}
.w-auto {
  width: auto;
}
.w-0\.5 {
  width: 0.125rem;
}
.w-0 {
  width: 0px;
}
.max-w-\[60px\] {
  max-width: 60px;
}
.flex-none {
  flex: none;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-1 {
  flex: 1 1 0%;
}
.basis-1\/3 {
  flex-basis: 33.333333%;
}
.basis-5\/12 {
  flex-basis: 41.666667%;
}
.basis-1\/2 {
  flex-basis: 50%;
}
.basis-7\/12 {
  flex-basis: 58.333333%;
}
.basis-2\/3 {
  flex-basis: 66.666667%;
}
.basis-1 {
  flex-basis: 0.25rem;
}
.-rotate-90 {
  --tw-rotate: -90deg;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.resize {
  resize: both;
}
.snap-both {
  scroll-snap-type: both var(--tw-scroll-snap-strictness);
}
.snap-proximity {
  --tw-scroll-snap-strictness: proximity;
}
.snap-center {
  scroll-snap-align: center;
}
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.place-content-center {
  align-content: center;
  justify-content: center;
  align-content: center;
  justify-content: center;
  place-content: center;
}
.place-items-center {
  align-items: center;
  justify-items: center;
  align-items: center;
  justify-items: center;
  place-items: center;
}
.content-center {
  align-content: center;
}
.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-items-start {
  justify-items: start;
}
.justify-items-end {
  justify-items: end;
}
.justify-items-center {
  justify-items: center;
}
.justify-items-stretch {
  justify-items: stretch;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-7 {
  gap: 1.75rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-9 {
  gap: 2.25rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-11 {
  gap: 2.75rem;
}
.gap-12 {
  gap: 3rem;
}
.gap-13 {
  gap: 3.25rem;
}
.gap-14 {
  gap: 3.5rem;
}
.gap-15 {
  gap: 3.75rem;
}
.gap-16 {
  gap: 4rem;
}
.gap-18 {
  gap: 4.5rem;
}
.gap-20 {
  gap: 5rem;
}
.gap-x-1 {
  -webkit-column-gap: 0.25rem;
  column-gap: 0.25rem;
}
.gap-x-2 {
  -webkit-column-gap: 0.5rem;
  column-gap: 0.5rem;
}
.gap-x-3 {
  -webkit-column-gap: 0.75rem;
  column-gap: 0.75rem;
}
.gap-x-4 {
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
}
.gap-x-5 {
  -webkit-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
.gap-x-6 {
  -webkit-column-gap: 1.5rem;
  column-gap: 1.5rem;
}
.gap-x-7 {
  -webkit-column-gap: 1.75rem;
  column-gap: 1.75rem;
}
.gap-x-8 {
  -webkit-column-gap: 2rem;
  column-gap: 2rem;
}
.gap-x-9 {
  -webkit-column-gap: 2.25rem;
  column-gap: 2.25rem;
}
.gap-x-10 {
  -webkit-column-gap: 2.5rem;
  column-gap: 2.5rem;
}
.gap-x-11 {
  -webkit-column-gap: 2.75rem;
  column-gap: 2.75rem;
}
.gap-x-12 {
  -webkit-column-gap: 3rem;
  column-gap: 3rem;
}
.gap-x-13 {
  -webkit-column-gap: 3.25rem;
  column-gap: 3.25rem;
}
.gap-x-14 {
  -webkit-column-gap: 3.5rem;
  column-gap: 3.5rem;
}
.gap-x-15 {
  -webkit-column-gap: 3.75rem;
  column-gap: 3.75rem;
}
.gap-x-16 {
  -webkit-column-gap: 4rem;
  column-gap: 4rem;
}
.gap-x-18 {
  -webkit-column-gap: 4.5rem;
  column-gap: 4.5rem;
}
.gap-x-20 {
  -webkit-column-gap: 5rem;
  column-gap: 5rem;
}
.gap-y-1 {
  row-gap: 0.25rem;
}
.gap-y-2 {
  row-gap: 0.5rem;
}
.gap-y-3 {
  row-gap: 0.75rem;
}
.gap-y-4 {
  row-gap: 1rem;
}
.gap-y-5 {
  row-gap: 1.25rem;
}
.gap-y-6 {
  row-gap: 1.5rem;
}
.gap-y-7 {
  row-gap: 1.75rem;
}
.gap-y-8 {
  row-gap: 2rem;
}
.gap-y-9 {
  row-gap: 2.25rem;
}
.gap-y-10 {
  row-gap: 2.5rem;
}
.gap-y-11 {
  row-gap: 2.75rem;
}
.gap-y-12 {
  row-gap: 3rem;
}
.gap-y-13 {
  row-gap: 3.25rem;
}
.gap-y-14 {
  row-gap: 3.5rem;
}
.gap-y-15 {
  row-gap: 3.75rem;
}
.gap-y-16 {
  row-gap: 4rem;
}
.gap-y-18 {
  row-gap: 4.5rem;
}
.gap-y-20 {
  row-gap: 5rem;
}
.space-x-7 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.75rem * var(--tw-space-x-reverse));
  margin-left: calc(1.75rem * (1 - var(--tw-space-x-reverse)));
}
.space-x-px > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1px * var(--tw-space-x-reverse));
  margin-left: calc(1px * (1 - var(--tw-space-x-reverse)));
}
.space-y-px > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1px * (1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1px * var(--tw-space-y-reverse));
}
.space-y-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 1;
}
.space-x-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}
.justify-self-auto {
  justify-self: auto;
}
.justify-self-start {
  justify-self: start;
}
.justify-self-end {
  justify-self: end;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-stretch {
  justify-self: stretch;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-clip {
  overflow: clip;
}
.overflow-visible {
  overflow: visible;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-x-clip {
  overflow-x: clip;
}
.overflow-y-clip {
  overflow-y: clip;
}
.overflow-x-visible {
  overflow-x: visible;
}
.overflow-y-visible {
  overflow-y: visible;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.whitespace-normal {
  white-space: normal;
}
.whitespace-pre {
  white-space: pre;
}
.whitespace-pre-line {
  white-space: pre-line;
}
.whitespace-pre-wrap {
  white-space: pre-wrap;
}
.break-normal {
  overflow-wrap: normal;
  word-break: normal;
}
.break-words {
  overflow-wrap: break-word;
}
.break-all {
  word-break: break-all;
}
.rounded-none {
  border-radius: 0px;
}
.rounded-sm {
  border-radius: 0.125rem;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-md {
  border-radius: 0.375rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.rounded-2xl {
  border-radius: 1rem;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-t-2xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.rounded-t-7 {
  border-top-left-radius: 1.75rem;
  border-top-right-radius: 1.75rem;
}
.rounded-b-5 {
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}
.rounded-tl-md {
  border-top-left-radius: 0.375rem;
}
.rounded-tr-\[63px\] {
  border-top-right-radius: 63px;
}
.border {
  border-width: 1px;
}
.border-0 {
  border-width: 0px;
}
.border-6 {
  border-width: 0.375rem;
}
.border-purple-2 {
  --tw-border-opacity: 1;
  border-color: rgba(177, 71, 248, var(--tw-border-opacity));
}
.border-app-2 {
  --tw-border-opacity: 1;
  border-color: rgba(41, 36, 82, var(--tw-border-opacity));
}
.border-pink {
  --tw-border-opacity: 1;
  border-color: rgba(251, 115, 163, var(--tw-border-opacity));
}
.border-purple {
  --tw-border-opacity: 1;
  border-color: rgba(99, 89, 217, var(--tw-border-opacity));
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-white\/\[0\.2\] {
  border-color: rgba(255, 255, 255, 0.2);
}
.border-transparent {
  border-color: rgba(0, 0, 0, 0);
}
.border-purple-2\/\[0\.3\] {
  border-color: rgba(177, 71, 248, 0.3);
}
.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}
.bg-purple-2 {
  --tw-bg-opacity: 1;
  background-color: rgba(177, 71, 248, var(--tw-bg-opacity));
}
.bg-pink {
  --tw-bg-opacity: 1;
  background-color: rgba(251, 115, 163, var(--tw-bg-opacity));
}
.bg-grey-4 {
  --tw-bg-opacity: 1;
  background-color: rgba(63, 61, 102, var(--tw-bg-opacity));
}
.bg-orange-1 {
  --tw-bg-opacity: 1;
  background-color: rgba(252, 157, 0, var(--tw-bg-opacity));
}
.bg-pink-1 {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 3, 102, var(--tw-bg-opacity));
}
.bg-green-1 {
  --tw-bg-opacity: 1;
  background-color: rgba(4, 184, 0, var(--tw-bg-opacity));
}
.bg-app-2 {
  --tw-bg-opacity: 1;
  background-color: rgba(41, 36, 82, var(--tw-bg-opacity));
}
.bg-purple {
  --tw-bg-opacity: 1;
  background-color: rgba(99, 89, 217, var(--tw-bg-opacity));
}
.bg-app {
  --tw-bg-opacity: 1;
  background-color: rgba(34, 31, 58, var(--tw-bg-opacity));
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(13, 13, 13, var(--tw-bg-opacity));
}
.bg-white\/\[0\.2\] {
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-yellow-light-1 {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 246, 180, var(--tw-bg-opacity));
}
.bg-yellow-light {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 252, 230, var(--tw-bg-opacity));
}
.bg-light-blue {
  --tw-bg-opacity: 1;
  background-color: rgba(220, 234, 255, var(--tw-bg-opacity));
}
.bg-light-blue-1 {
  --tw-bg-opacity: 1;
  background-color: rgba(242, 246, 255, var(--tw-bg-opacity));
}
.bg-orange-light-1 {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 226, 197, var(--tw-bg-opacity));
}
.bg-orange-light {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 241, 227, var(--tw-bg-opacity));
}
.bg-green-light-1 {
  --tw-bg-opacity: 1;
  background-color: rgba(227, 247, 223, var(--tw-bg-opacity));
}
.bg-green-light {
  --tw-bg-opacity: 1;
  background-color: rgba(241, 255, 239, var(--tw-bg-opacity));
}
.bg-purple-2\/\[0\.2\] {
  background-color: rgba(177, 71, 248, 0.2);
}
.bg-white\/\[0\.7\] {
  background-color: rgba(255, 255, 255, 0.7);
}
.bg-purple-2\/\[0\.3\] {
  background-color: rgba(177, 71, 248, 0.3);
}
.bg-black\/\[0\.3\] {
  background-color: rgba(13, 13, 13, 0.3);
}
.bg-white\/\[0\.1\] {
  background-color: rgba(255, 255, 255, 0.1);
}
.bg-purple-2\/\[0\.1\] {
  background-color: rgba(177, 71, 248, 0.1);
}
.bg-grey {
  --tw-bg-opacity: 1;
  background-color: rgba(153, 153, 153, var(--tw-bg-opacity));
}
.bg-purple-2\/\[0\.4\] {
  background-color: rgba(177, 71, 248, 0.4);
}
.bg-purple-2\/\[0\.6\] {
  background-color: rgba(177, 71, 248, 0.6);
}
.bg-app-2\/\[0\.3\] {
  background-color: rgba(41, 36, 82, 0.3);
}
.bg-orange-1\/\[0\.1\] {
  background-color: rgba(252, 157, 0, 0.1);
}
.bg-green-1\/\[0\.1\] {
  background-color: rgba(4, 184, 0, 0.1);
}
.bg-yellow-1\/\[0\.1\] {
  background-color: rgba(255, 223, 0, 0.1);
}
.bg-light-blue-3\/\[0\.1\] {
  background-color: rgba(85, 76, 255, 0.1);
}
.bg-purple-linear {
  background-image: linear-gradient(267.74deg, #6359d9 -4.45%, #b147f8 105.31%);
}
.bg-em-brand {
  background-image: url(./images/7b8356a295a4d8f98734.png);
}
.bg-gradient-1 {
  background-image: linear-gradient(267.74deg, #6359d9 -4.45%, #b147f8 105.31%);
}
.bg-gradient-orange-1 {
  background-image: linear-gradient(24.94deg, #fc9d00 -1.3%, #fcec7c 100.42%);
}
.bg-gradient-2 {
  background-image: radial-gradient(
    72.53% 113.81% at 88.58% 24.1%,
    #7388ff 0%,
    #ca73ff 50.34%,
    #ff739d 100%
  );
}
.bg-user-balance {
  background-image: url(./images/0541ffa2a26dda7340a8.png);
}
.bg-user-save {
  background-image: url(./images/b83f745148591bf8f3ef.png);
}
.bg-gradient-blue-1 {
  background-image: linear-gradient(24.94deg, #554cff -1.3%, #66b5f8 100.42%);
}
.bg-gradient-green-1 {
  background-image: linear-gradient(24.94deg, #66b5f8 -1.3%, #4fd143 100.42%);
}
.bg-cover {
  background-size: cover;
}
.bg-center {
  background-position: center;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.object-contain {
  object-fit: contain;
}
.object-cover {
  object-fit: cover;
}
.p-3 {
  padding: 0.75rem;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-7 {
  padding: 1.75rem;
}
.p-8 {
  padding: 2rem;
}
.p-9 {
  padding: 2.25rem;
}
.p-10 {
  padding: 2.5rem;
}
.p-11 {
  padding: 2.75rem;
}
.p-12 {
  padding: 3rem;
}
.p-13 {
  padding: 3.25rem;
}
.p-14 {
  padding: 3.5rem;
}
.p-15 {
  padding: 3.75rem;
}
.p-16 {
  padding: 4rem;
}
.p-18 {
  padding: 4.5rem;
}
.p-20 {
  padding: 5rem;
}
.p-0 {
  padding: 0px;
}
.p-0\.5 {
  padding: 0.125rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pt-7 {
  padding-top: 1.75rem;
}
.pt-8 {
  padding-top: 2rem;
}
.pt-9 {
  padding-top: 2.25rem;
}
.pt-10 {
  padding-top: 2.5rem;
}
.pt-11 {
  padding-top: 2.75rem;
}
.pt-12 {
  padding-top: 3rem;
}
.pt-13 {
  padding-top: 3.25rem;
}
.pt-14 {
  padding-top: 3.5rem;
}
.pt-15 {
  padding-top: 3.75rem;
}
.pt-16 {
  padding-top: 4rem;
}
.pt-18 {
  padding-top: 4.5rem;
}
.pt-20 {
  padding-top: 5rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pr-3 {
  padding-right: 0.75rem;
}
.pr-4 {
  padding-right: 1rem;
}
.pr-5 {
  padding-right: 1.25rem;
}
.pr-6 {
  padding-right: 1.5rem;
}
.pr-7 {
  padding-right: 1.75rem;
}
.pr-8 {
  padding-right: 2rem;
}
.pr-9 {
  padding-right: 2.25rem;
}
.pr-10 {
  padding-right: 2.5rem;
}
.pr-11 {
  padding-right: 2.75rem;
}
.pr-12 {
  padding-right: 3rem;
}
.pr-13 {
  padding-right: 3.25rem;
}
.pr-14 {
  padding-right: 3.5rem;
}
.pr-15 {
  padding-right: 3.75rem;
}
.pr-16 {
  padding-right: 4rem;
}
.pr-18 {
  padding-right: 4.5rem;
}
.pr-20 {
  padding-right: 5rem;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 0.75rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.pb-7 {
  padding-bottom: 1.75rem;
}
.pb-8 {
  padding-bottom: 2rem;
}
.pb-9 {
  padding-bottom: 2.25rem;
}
.pb-10 {
  padding-bottom: 2.5rem;
}
.pb-11 {
  padding-bottom: 2.75rem;
}
.pb-12 {
  padding-bottom: 3rem;
}
.pb-13 {
  padding-bottom: 3.25rem;
}
.pb-14 {
  padding-bottom: 3.5rem;
}
.pb-15 {
  padding-bottom: 3.75rem;
}
.pb-16 {
  padding-bottom: 4rem;
}
.pb-18 {
  padding-bottom: 4.5rem;
}
.pb-20 {
  padding-bottom: 5rem;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-3 {
  padding-left: 0.75rem;
}
.pl-4 {
  padding-left: 1rem;
}
.pl-5 {
  padding-left: 1.25rem;
}
.pl-6 {
  padding-left: 1.5rem;
}
.pl-7 {
  padding-left: 1.75rem;
}
.pl-8 {
  padding-left: 2rem;
}
.pl-9 {
  padding-left: 2.25rem;
}
.pl-10 {
  padding-left: 2.5rem;
}
.pl-11 {
  padding-left: 2.75rem;
}
.pl-12 {
  padding-left: 3rem;
}
.pl-13 {
  padding-left: 3.25rem;
}
.pl-14 {
  padding-left: 3.5rem;
}
.pl-15 {
  padding-left: 3.75rem;
}
.pl-16 {
  padding-left: 4rem;
}
.pl-18 {
  padding-left: 4.5rem;
}
.pl-20 {
  padding-left: 5rem;
}
.pt-\[100\%\] {
  padding-top: 100%;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.font-serif {
  font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}
.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}
.font-quicksand {
  font-family: Quicksand, sans-serif;
}
.text-2xs {
  font-size: 0.625rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}
.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}
.font-thin {
  font-weight: 100;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.normal-case {
  text-transform: none;
}
.italic {
  font-style: italic;
}
.not-italic {
  font-style: normal;
}
.leading-none {
  line-height: 1;
}
.leading-tight {
  line-height: 1.25;
}
.leading-snug {
  line-height: 1.375;
}
.leading-normal {
  line-height: 1.5;
}
.leading-relaxed {
  line-height: 1.625;
}
.leading-loose {
  line-height: 2;
}
.leading-3 {
  line-height: 0.75rem;
}
.leading-4 {
  line-height: 1rem;
}
.leading-5 {
  line-height: 1.25rem;
}
.leading-6 {
  line-height: 1.5rem;
}
.leading-7 {
  line-height: 1.75rem;
}
.leading-8 {
  line-height: 2rem;
}
.leading-9 {
  line-height: 2.25rem;
}
.leading-10 {
  line-height: 2.5rem;
}
.tracking-tighter {
  letter-spacing: -0.05em;
}
.tracking-tight {
  letter-spacing: -0.025em;
}
.tracking-normal {
  letter-spacing: 0em;
}
.tracking-wide {
  letter-spacing: 0.025em;
}
.tracking-wider {
  letter-spacing: 0.05em;
}
.tracking-widest {
  letter-spacing: 0.1em;
}
.text-purple-2 {
  --tw-text-opacity: 1;
  color: rgba(177, 71, 248, var(--tw-text-opacity));
}
.text-purple-2\/\[0\.2\] {
  color: rgba(177, 71, 248, 0.2);
}
.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-pink {
  --tw-text-opacity: 1;
  color: rgba(251, 115, 163, var(--tw-text-opacity));
}
.text-grey {
  --tw-text-opacity: 1;
  color: rgba(153, 153, 153, var(--tw-text-opacity));
}
.text-green-1 {
  --tw-text-opacity: 1;
  color: rgba(4, 184, 0, var(--tw-text-opacity));
}
.text-grey-3 {
  --tw-text-opacity: 1;
  color: rgba(211, 215, 219, var(--tw-text-opacity));
}
.text-grey-1 {
  --tw-text-opacity: 1;
  color: rgba(209, 209, 209, var(--tw-text-opacity));
}
.text-white\/\[0\.7\] {
  color: rgba(255, 255, 255, 0.7);
}
.text-app {
  --tw-text-opacity: 1;
  color: rgba(34, 31, 58, var(--tw-text-opacity));
}
.text-grey-4 {
  --tw-text-opacity: 1;
  color: rgba(63, 61, 102, var(--tw-text-opacity));
}
.text-app-2\/\[0\.4\] {
  color: rgba(41, 36, 82, 0.4);
}
.text-purple {
  --tw-text-opacity: 1;
  color: rgba(99, 89, 217, var(--tw-text-opacity));
}
.text-grey-5 {
  --tw-text-opacity: 1;
  color: rgba(102, 115, 134, var(--tw-text-opacity));
}
.text-\[\#F2EEF8\] {
  --tw-text-opacity: 1;
  color: rgba(242, 238, 248, var(--tw-text-opacity));
}
.text-pink-1 {
  --tw-text-opacity: 1;
  color: rgba(255, 3, 102, var(--tw-text-opacity));
}
.underline {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.line-through {
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}
.no-underline {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
.opacity-25 {
  opacity: 0.25;
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), var(--tw-shadow);
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), var(--tw-shadow);
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)),
    var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}
.outline {
  outline-style: solid;
}
.blur-sm {
  --tw-blur: blur(4px);
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
    var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia)
    var(--tw-drop-shadow);
}
.filter {
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
    var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia)
    var(--tw-drop-shadow);
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color,
    fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, fill, stroke, opacity,
    box-shadow, -webkit-text-decoration-color, -webkit-transform, -webkit-filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color,
    fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color,
    fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-text-decoration-color, -webkit-transform, -webkit-filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color,
    fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
html img {
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body {
  color: var(--text-color);
  font-family: Quicksand, 'Quicksand', sans-serif;
  overflow-x: hidden;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
body ::-webkit-scrollbar {
  display: none;
  width: 0;
}
html,
body {
  height: 100%;
}
:root,
::after,
::before {
  --opacity: 1;
  --transparent: transparent;
  --white: #ffffff;
  --black: #0d0d0d;
  --blue: #7598ec;
  --blue-1: #0084f4;
  --blue-2: #597df5;
  --light-blue: #dceaff;
  --light-blue-1: #f2f6ff;
  --light-blue-2: rgba(0, 132, 244, 0.1);
  --light-blue-3: rgba(85, 76, 255, 0.1);
  --green-1: #04b800;
  --green-light: #f1ffef;
  --green-light-1: #e3f7df;
  --green-light-2: rgba(4, 184, 0, 0.1);
  --orange-light: #fff1e3;
  --orange-light-1: #ffe2c5;
  --orange-light-2: rgba(252, 157, 0, 0.1);
  --orange-1: #fc9d00;
  --yellow-light: #fffce6;
  --yelllow-light-1: #fff6b4;
  --yelllow-light-2: rgba(255, 223, 0, 0.1);
  --yellow: #ffc700;
  --pink-light: #fbf9ff;
  --pink: #fb73a3;
  --pink-1: #ff0366;
  --pink-2: #ffcdea;
  --pink-3: #8438ff;
  --pink-4: #dfa1ed;
  --purple: #6359d9;
  --purple-2: #b147f8;
  --purple-light: #b249f8;
  --app: #221f3a;
  --app-t: 34 31 58;
  --app-2: #292452;
  --grey: #999999;
  --grey-1: #d1d1d1;
  --grey-2: #ededf0;
  --grey-3: #d3d7db;
  --grey-4: #3f3d66;
  --grey-5: #667386;
  --gradient-blue-1: linear-gradient(24.94deg, #554cff -1.3%, #66b5f8 100.42%);
  --gradient-orange-1: linear-gradient(24.94deg, #fc9d00 -1.3%, #fcec7c 100.42%);
  --gradient-green-1: linear-gradient(24.94deg, #66b5f8 -1.3%, #4fd143 100.42%);
  --gradient-1: linear-gradient(267.74deg, #6359d9 -4.45%, #b147f8 105.31%);
  --gradient-2: radial-gradient(
    72.53% 113.81% at 88.58% 24.1%,
    #7388ff 0%,
    #ca73ff 50.34%,
    #ff739d 100%
  );
  --gradient-3: linear-gradient(
    154.58deg,
    rgba(41, 36, 82, 0.5) -31.43%,
    rgba(99, 89, 217, 0) 109.66%
  );
  --blue-gradient: linear-gradient(82.36deg, #8279e3 38.7%, #ffcdea 76.51%);
  --purple-gradient: linear-gradient(82.36deg, #0014ff 38.7%, #ff2cdf 76.51%);
  --disabled-btn: #3f3d66;
  --divider: rgba(255, 255, 255, 0.2);
  --bg-app: var(--app);
  --bg-app-2: var(--app-2);
  --bg-button-1: rgba(255, 255, 255, 0.1);
  --bg-content: #3d395c;
  --bg-detail-transaction: #282551;
  --border-button-1: rgba(255, 255, 255, 0.17);
  --pagination-circle-active: var(--purple-2);
  --pagination-circle: var(--white);
  --text-color-app: var(--app);
  --text-color-base: #ffffff;
  --text-color-black: var(--black);
  --text-color-grey: var(--grey-3);
  --text-color-grey-4: var(--grey-4);
  --text-color-grey-5: var(--grey-5);
  --text-color-purple-light: var(--purple-2);
  --bg-blurry: var(--purple-gradient);
  --bg-blurry-1: var(--blue-gradient);
  --bg-white: var(--white);
  --bg-light-blue-1: var(--light-blue-1);
}
@font-face {
  font-family: 'app-women';
  src: url(./images/b69a7a72c3830405263c.eot);
  src: url(./images/b69a7a72c3830405263c.eot?#iefix) format('embedded-opentype'),
    url(./images/75a06d698a1281f495d8.woff) format('woff'),
    url(./images/ca6e3a511cf524401fe6.ttf) format('truetype'),
    url(./images/068de60435edc0639554.svg#app-women) format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'app-women' !important;
  font-style: normal !important;
  font-weight: normal !important;
  -webkit-font-feature-settings: normal !important;
  font-feature-settings: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
}
[data-icon]:before {
  content: attr(data-icon);
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'app-women' !important;
  font-style: normal !important;
  font-weight: normal !important;
  -webkit-font-feature-settings: normal !important;
  font-feature-settings: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
}
[class^='icon-']:before,
[class*=' icon-']:before {
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-app-store:before {
  content: 'a';
}
.icon-file-excel:before {
  content: 'b';
}
.icon-file-word:before {
  content: 'c';
}
.icon-car:before {
  content: 'd';
}
.icon-desktop:before {
  content: 'e';
}
.icon-laptop:before {
  content: 'f';
}
.icon-mobile:before {
  content: 'g';
}
.icon-tablet:before {
  content: 'h';
}
.icon-watch:before {
  content: 'i';
}
.icon-youtube:before {
  content: 'j';
}
.icon-twitter:before {
  content: 'k';
}
.icon-telegram:before {
  content: 'l';
}
.icon-instagram:before {
  content: 'm';
}
.icon-facebook:before {
  content: 'n';
}
.icon-discord:before {
  content: 'o';
}
.icon-apple:before {
  content: 'p';
}
.icon-globe:before {
  content: 'q';
}
.icon-google-play:before {
  content: 'r';
}
.icon-magazine:before {
  content: 's';
}
.icon-shopping-cart:before {
  content: 't';
}
.icon-layer-group:before {
  content: 'u';
}
.icon-dice-d6:before {
  content: 'v';
}
.icon-coins:before {
  content: 'w';
}
.icon-chart-line:before {
  content: 'x';
}
.icon-award:before {
  content: 'y';
}
.icon-file-excel-1:before {
  content: 'A';
}
.icon-radar:before {
  content: 'z';
}
.icon-award-1:before {
  content: 'B';
}
.icon-medal:before {
  content: 'C';
}
.icon-money-3:before {
  content: 'D';
}
.icon-teacher:before {
  content: 'E';
}
.icon-calendar-2:before {
  content: 'F';
}
.icon-card:before {
  content: 'G';
}
.icon-coin:before {
  content: 'H';
}
.icon-document-text:before {
  content: 'I';
}
.icon-element-3:before {
  content: 'J';
}
.icon-lovely:before {
  content: 'K';
}
.icon-magic-star:before {
  content: 'L';
}
.icon-money-4:before {
  content: 'M';
}
.icon-percentage-square:before {
  content: 'N';
}
.icon-receipt-2:before {
  content: 'O';
}
.icon-subtitle:before {
  content: 'P';
}
.icon-user-square:before {
  content: 'Q';
}
.icon-wifi:before {
  content: 'R';
}
.icon-phone:before {
  content: 'S';
}
.icon-frame:before {
  content: 'T';
}
.icon-arrow-line-right:before {
  content: 'U';
}
.icon-eye-slash:before {
  content: 'V';
}
.icon-eye:before {
  content: 'W';
}
@font-face {
  font-family: 'Quicksand';
  src: url(./images/22985ea0895a99d74cc5.eot);
  src: url(./images/22985ea0895a99d74cc5.eot?#iefix) format('embedded-opentype'),
    url(./images/9418150e286e7a45cdf5.woff2) format('woff2'),
    url(./images/2cecab70a610acc5ff5c.woff) format('woff'),
    url(./images/155ae02fd84c58fa90e9.ttf) format('truetype'),
    url(./images/8552e49f902a65a32897.svg#Quicksand-Bold) format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Quicksand';
  src: url(./images/46df194e0508aabf4b03.eot);
  src: url(./images/46df194e0508aabf4b03.eot?#iefix) format('embedded-opentype'),
    url(./images/ff22733d1891fdc53b26.woff2) format('woff2'),
    url(./images/255b17cbd751b6d64bd7.woff) format('woff'),
    url(./images/a1aa9fe872e559acc882.ttf) format('truetype'),
    url(./images/1395902f1d89f3e685c9.svg#Quicksand-Medium) format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Quicksand';
  src: url(./images/b680445cc52300eb2c10.eot);
  src: url(./images/b680445cc52300eb2c10.eot?#iefix) format('embedded-opentype'),
    url(./images/666d74ece0f5d87520aa.woff2) format('woff2'),
    url(./images/729218d1abc6dd2c2858.woff) format('woff'),
    url(./images/7cd42ba1630d49e7e79a.ttf) format('truetype'),
    url(./images/70a1ea267f1982934ae7.svg#Quicksand-SemiBold) format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Quicksand';
  src: url(./images/2b68292068f747f6bb3b.eot);
  src: url(./images/2b68292068f747f6bb3b.eot?#iefix) format('embedded-opentype'),
    url(./images/af5318ab864f0617e4df.woff2) format('woff2'),
    url(./images/f0297ee1055ef6253f2b.woff) format('woff'),
    url(./images/fd120475e0149506006e.ttf) format('truetype'),
    url(./images/1c6674431e29fda1c714.svg#Quicksand-Regular) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Quicksand';
  src: url(./images/96e4445af3327e178a71.eot);
  src: url(./images/96e4445af3327e178a71.eot?#iefix) format('embedded-opentype'),
    url(./images/d1a2acc58d76e924a3ad.woff2) format('woff2'),
    url(./images/9925fd458cb63745a98e.woff) format('woff'),
    url(./images/5c3f092627939e53912e.ttf) format('truetype'),
    url(./images/8f2a181e8f652fb4cf94.svg#Quicksand-Light) format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.a-button {
  display: grid;
  align-items: center;
  justify-items: center;
  align-items: center;
  justify-items: center;
  place-items: center;
  grid-template-columns: repeat(8, 1fr);
  white-space: pre;
}
.a-button-bg-purple-linear {
  background: linear-gradient(267.74deg, #6359d9 -4.45%, #b147f8 105.31%);
  background: linear-gradient(267.74deg, #6359d9 -4.45%, #b147f8 105.31%);
  background: var(--gradient-1);
}
.a-button-outline {
  border: 1px solid #fff;
  border: 1px solid #fff;
  border: 1px solid var(--text-color-base);
}
.a-button-outline.a-button-bg-purple-2 {
  border-color: #b147f8;
  border-color: #b147f8;
  border-color: var(--purple-2);
  color: #fff;
  color: #fff;
  color: var(--text-color-base);
}
.a-button-outline.a-button-purple-2 {
  border-color: #b147f8;
  border-color: #b147f8;
  border-color: var(--purple-2);
  color: #b147f8;
  color: #b147f8;
  color: var(--text-color-purple-light);
}
.a-button-disabled.a-button {
  background: #3f3d66;
  background: #3f3d66;
  background: var(--disabled-btn);
}
.a-button-disabled.a-button-outline {
  border-color: #3f3d66;
  border-color: #3f3d66;
  border-color: var(--disabled-btn);
  background-color: rgba(0, 0, 0, 0);
}
.a-button-purple-2.a-button-outline {
  border-color: #b147f8;
  border-color: #b147f8;
  border-color: var(--purple-2);
  color: #b147f8;
  color: #b147f8;
  color: var(--purple-2);
}
.a-button-purple-2.a-button-normal {
  background-color: #b147f8;
  background-color: #b147f8;
  background-color: var(--purple-2);
}
.a-typography-body1 {
  font-size: 1rem;
  line-height: 1.5rem;
}
.a-typography-body2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.a-typography-body3 {
  font-size: 0.75rem;
  line-height: 1rem;
}
.a-typography-body4 {
  font-size: 0.625rem;
  line-height: 1rem;
}
.a-typography-9x15 {
  font-size: 0.5625rem;
  line-height: 0.9375rem;
}
.a-typography-80x100 {
  font-size: 5rem;
  line-height: 6.25rem;
}
.a-radio {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.125rem solid #fff;
  border-radius: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.a-radio-checked {
  border-color: #b147f8;
  border-color: #b147f8;
  border-color: var(--purple-2);
}
.a-radio-checked .a-radio_thumb {
  background-color: #b147f8;
  background-color: #b147f8;
  background-color: var(--purple-2);
}
.a-radio-sync {
  border-color: #b147f8;
  border-color: #b147f8;
  border-color: var(--purple-2);
}
.a-radio_thumb {
  width: 0.875rem;
  height: 0.875rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100%;
}
.a-radio-16x16 {
  width: 1rem;
  height: 1rem;
}
.a-radio-16x16 .a-radio_thumb {
  width: 0.5rem;
  height: 0.5rem;
}
.svg_icon-arrowRight,
.svg_icon.-arrowRightLong {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.svg_icon-importRight {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.input {
  min-height: 3rem;
  padding: 0 1.25rem;
}
.input-fullWidth {
  width: 100%;
}
.input:read-only {
  background-color: #d3d7db;
  color: #667386;
  font-weight: bold;
}
.input-select-template:read-only {
  color: #fff;
  color: #fff;
  color: var(--text-color-base);
  background-color: #221f3a;
  background-color: #221f3a;
  background-color: var(--bg-app);
  font-weight: bold;
}
.input-plusAndMinus-template {
  text-align: center;
  padding: 0 4rem;
  border-radius: 0.375rem;
}
.input-currency {
  border-radius: 0.75rem;
  min-height: 3rem;
}
.input-currency-fullWidth {
  width: 100%;
}
.icon-after {
  right: 1rem;
  top: 50%;
  font-weight: 700;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.icon-before {
  left: 1rem;
  top: 50%;
  font-weight: 700;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.currency {
  right: 1rem;
  top: 50%;
  font-weight: 700;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
.password {
  right: 1rem;
  top: 50%;
  font-weight: 700;
  -webkit-transform: translate(0, -12%);
  transform: translate(0, -12%);
}
.otpContainer {
  border: 1px solid #fff;
  border: 1px solid #fff;
  border: 1px solid var(--text-color-base);
  border-radius: 0.75rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.otpContainer-fullWidth {
  width: 100%;
}
.otpContainer:read-only {
  background: none;
  color: none;
}
.otpInput {
  width: 2rem !important;
}
.otpInput {
  min-height: 2rem;
  font-size: 1rem;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0);
  transition: 0.1s;
}
.otpInput::-webkit-input-placeholder {
  background-image: url(./images/325019ad2c61e1ad538e.png);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: 20px;
}
.otpInput::placeholder {
  background-image: url(./images/325019ad2c61e1ad538e.png);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: 20px;
}
.otpInput:focus {
  background-image: none !important;
}
.otpInput:focus {
  text-indent: 0px;
  outline: none;
}
.otpInput:read-only {
  background-color: #d3d7db;
  color: #667386;
  font-weight: bold;
}
.a-checkbox {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.125rem solid #fff;
  border-radius: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.a-checkbox-checked {
  border-color: #b147f8;
  border-color: #b147f8;
  border-color: var(--purple-2);
  background-color: #b147f8;
  background-color: #b147f8;
  background-color: var(--purple-2);
}
.swiper-slide-auto-container .swiper-pagination .swiper-pagination-bullet {
  background: #d3d7db !important;
  background: #d3d7db !important;
  background: var(--grey-3) !important;
}
.swiper-slide-auto-container .swiper-pagination .swiper-pagination-bullet {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  transition-duration: 0.5s;
}
.swiper-slide-auto-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff !important;
  background: #fff !important;
  background: var(--pagination-circle) !important;
}
.swiper-slide-auto-container .swiper-pagination .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-duration: 0.5s;
}
.swiper-slide-auto-container .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-baseItem_wrapper {
  overflow: hidden;
  position: relative;
  padding: 1rem;
  height: inherit;
}
.m-baseItem_wrapper-xs {
  height: 3rem;
}
.m-baseItem_wrapper-sm {
  height: 3.25rem;
}
.m-baseItem_wrapper-md {
  height: 3.375rem;
}
.m-baseItem_wrapper-lg {
  height: 3.5rem;
}
.m-baseItem_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}
.m-baseItem_center {
  flex: 1;
  width: 100%;
}
.m-baseItem_badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.375rem 0.75rem;
  border-radius: 0 0 0 1rem;
}
.m-baseItem_badge-top-left {
  right: initial;
  left: 0;
  border-radius: 0 0 1rem 0;
}
.m-baseItem_badge-bottom-left {
  top: initial;
  right: initial;
  left: 0;
  bottom: 0;
  border-radius: 0 1rem 0 0;
}
.m-baseItem_badge-bottom-right {
  top: initial;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 0 0;
}
.m-baseItem-col > .m-baseItem_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.m-baseItem-col .m-baseItem_start,
.m-baseItem-col .m-baseItem_center,
.m-baseItem-col .m-baseItem_end {
  flex: 0 1 100%;
  width: 100%;
}
.m-baseItem-relative > .m-baseItem_wrapper {
  position: relative;
}
.m-baseItem-72x72 > .m-baseItem_wrapper {
  width: 4.5rem;
  height: 4.5rem;
}
.m-baseItem-bg-op-0\.2 > .m-baseItem_wrapper {
  --opacity: 0.2;
}
.m-baseItem-bg-op-0\.1 > .m-baseItem_wrapper {
  --opacity: 0.1;
}
.m-baseItem-bg-primary > .m-baseItem_wrapper {
  background-color: #221f3a;
  background-color: #221f3a;
  background-color: #221f3a;
  background-color: rgba(34, 31, 58, var(--opacity));
}
.m-baseItem-bg > .m-baseItem_wrapper {
  background-color: #292452;
  background-color: #292452;
  background-color: var(--app-2);
}
.m-baseItem-bg-transparent > .m-baseItem_wrapper {
  background-color: rgba(0, 0, 0, 0);
}
.m-baseItem-bg-purple-2 > .m-baseItem_wrapper {
  background-color: #b147f8;
  background-color: #b147f8;
  background-color: #b147f8;
  background-color: rgba(177, 71, 248, var(--opacity));
}
.m-baseItem-bg-pink > .m-baseItem_wrapper {
  background-color: #fb73a3;
  background-color: #fb73a3;
  background-color: #fb73a3;
  background-color: rgba(251, 115, 163, var(--opacity));
}
.m-baseItem-bg-pink-light > .m-baseItem_wrapper {
  background-color: #fbf9ff;
  background-color: #fbf9ff;
  background-color: var(--pink-light);
}
.m-baseItem-bg-grey-4 > .m-baseItem_wrapper {
  background-color: #3f3d66;
  background-color: #3f3d66;
  background-color: var(--grey-4);
}
.m-baseItem-border > .m-baseItem_wrapper {
  border: 1px solid #fff;
  border: 1px solid #fff;
  border: 1px solid var(--white);
}
.m-baseItem-border-purple-2 > .m-baseItem_wrapper {
  border: 1px solid #b147f8;
  border: 1px solid #b147f8;
  border: 1px solid var(--purple-2);
}
.m-baseItem-border-pink > .m-baseItem_wrapper {
  border: 1px solid #fb73a3;
  border: 1px solid #fb73a3;
  border: 1px solid var(--pink);
}
.m-baseItem-border-app-2 > .m-baseItem_wrapper {
  border: 1px solid #292452;
  border: 1px solid #292452;
  border: 1px solid var(--app-2);
}
.m-baseItem-border-linear {
  position: relative;
  border-radius: 1rem;
}
.m-baseItem-border-linear::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(
    262.19deg,
    #b147f8 -79.83%,
    rgba(177, 71, 248, 0) 33.59%,
    rgba(177, 71, 248, 0) 49.23%,
    rgba(177, 71, 248, 0) 66.95%,
    #b147f8 194.14%
  );
}
.m-baseItem-active > .m-baseItem_wrapper {
  border: 1px solid #b147f8;
  border: 1px solid #b147f8;
  border: 1px solid var(--purple-2);
}
.m-baseItem-bg-purple > .m-baseItem_wrapper {
  background: #b147f8 !important;
  background: #b147f8 !important;
  background: var(--purple-2) !important;
}
.m-baseItem-p-2 > .m-baseItem_wrapper {
  padding: 0.5rem;
}
.m-baseItem-px-2 > .m-baseItem_wrapper {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.m-baseItem-py-2 > .m-baseItem_wrapper {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.m-baseItem-p-3 > .m-baseItem_wrapper {
  padding: 0.75rem;
}
.m-baseItem-px-3 > .m-baseItem_wrapper {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.m-baseItem-py-3 > .m-baseItem_wrapper {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.m-baseItem-px-0 > .m-baseItem_wrapper {
  padding-right: 0rem;
  padding-left: 0rem;
}
.m-baseItem-py-0 > .m-baseItem_wrapper {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.m-baseItem-noPadding > .m-baseItem_wrapper {
  padding: 0;
}
.m-baseItem-br-3 > .m-baseItem_wrapper {
  border-radius: 0.75rem;
}
.m-baseItem-br-4 > .m-baseItem_wrapper {
  border-radius: 1rem;
}
.m-baseItem-br-5 > .m-baseItem_wrapper {
  border-radius: 1.25rem;
}
.m-cardNotify .m-baseItem_wrapper {
  background-color: #292452;
  background-color: #292452;
  background-color: var(--app-2);
  border-radius: 0.5rem;
}
.m-cardNotify .m-baseItem_start {
  margin-right: 1rem;
  align-self: flex-start;
}
.m-cardNotify_icon-recive {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.m-cardNotify_content {
  position: relative;
}
.m-cardNotify_content-desc {
  opacity: 0.68;
}
.m-cardNotify_content-dot {
  top: 0;
  right: 0;
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 100%;
  background-color: #04b800;
  background-color: #04b800;
  background-color: var(--green-1);
}
.m-commonItem .m-baseItem_wrapper {
  border-radius: 1rem;
}
.m-commonItem .m-baseItem_start,
.m-commonItem .m-baseItem_end {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 2rem;
  min-height: 2rem;
}
.m-commonItem-active .m-baseItem-border .m-baseItem_wrapper {
  border-color: #b147f8;
  border-color: #b147f8;
  border-color: var(--purple-2);
}
.wrap-tab-content .o-listItemView_item:first-child {
  border-radius: 1rem 0 0 1rem;
}
.wrap-tab-content .o-listItemView_item:last-child {
  border-radius: 0 1rem 1rem 0;
}
.tab-content {
  overflow: auto;
  border: none;
  background: none;
  width: 100%;
  padding: 0 0.625rem;
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: #3f3d66;
  color: #3f3d66;
  color: var(--grey-4);
}
.tab-content .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  border-radius: 1rem;
  height: 3px;
  background: #3f3d66;
  background: #3f3d66;
  background: var(--grey-4);
  color: #3f3d66;
  color: #3f3d66;
  color: var(--grey-4);
}
.tab-content .underline-select {
  height: 3px;
  background: #b147f8;
  background: #b147f8;
  background: var(--text-color-purple-light);
  color: #b147f8;
  color: #b147f8;
  color: var(--text-color-purple-light);
}
.tab-content-container {
  padding-bottom: 0.375rem;
  padding-top: 0.375rem;
  border-radius: 1rem;
}
.tab-content-container.tab-content-select .underline {
  height: 100%;
  border-radius: 1rem;
}
.tab-content-container.tab-content-select .underline-select {
  z-index: 1;
  height: 100%;
  background-color: #b147f8;
  background-color: #b147f8;
  background-color: var(--purple-2);
}
.tab-content-container.tab-content-select .a-typography {
  z-index: 2;
  position: relative;
}
.card-info-copy {
  border: 1px solid #b147f8;
  border: 1px solid #b147f8;
  border: 1px solid var(--purple-2);
  border-radius: 1.5rem;
  height: 84px;
  width: 100%;
  display: grid;
  padding: 0 1.25rem;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  gap: 1rem;
}
.card-info-copy .info {
  grid-column: span 5 / span 5;
  display: flex;
  align-items: center;
}
.card-info-copy .copy {
  display: flex;
  align-items: center;
}
.m-modalBase .react-swipeable-view-container {
  box-shadow: none !important;
}
.m-modalBase_top-icon {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.m-modalBase_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #221f3a;
  background-color: #221f3a;
  background-color: var(--app);
  border-radius: 1.25rem 1.25rem 0 0;
  padding-top: 0.625rem;
  padding-bottom: 2rem;
}
.m-modalBase-isTopIcon {
  padding-top: 1.5rem;
}
.progressRank-container {
  --statusHeight: 100%;
  --space: 5px;
  --spaceP: 20px;
  --height: 125px;
  position: relative;
  height: var(--height);
  width: 100%;
}
.progressRank-container.swap {
  --space: -10px;
  --statusHeight: 0%;
  --spaceP: -45px;
  --height: auto;
  margin-top: 2rem;
}
.progressRank-container .ranking {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  position: relative;
}
.progressRank-container .ranking::after {
  content: '';
  background-color: #ededf0;
  background-color: #ededf0;
  background-color: var(--grey-2);
  width: 100%;
  height: 3px;
  top: calc(var(--statusHeight) + var(--space));
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
}
.progressRank-container .retail,
.progressRank-container .innovation {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
.progressRank-container .retail::after,
.progressRank-container .innovation::after {
  content: '';
  background-color: #ededf0;
  background-color: #ededf0;
  background-color: var(--grey-2);
  width: 100%;
  height: 3px;
  top: calc(var(--statusHeight) + var(--space));
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
}
.progressRank-container li {
  transition: all 200ms ease-in;
  grid-column: span 4 / span 4;
  position: relative;
  z-index: 2;
}
.progressRank-container .timestamp {
  padding: 0.5rem 0;
  text-align: center;
}
.progressRank-container .timestamp p {
  font-size: 0.875rem;
  font-weight: 500;
}
.progressRank-container .status {
  position: relative;
  text-align: center;
  transition: all 200ms ease-in;
  height: var(--statusHeight);
}
.progressRank-container .status p {
  position: absolute;
  top: calc(var(--statusHeight) + var(--spaceP));
  width: 100%;
  left: 0;
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
}
.progressRank-container .status svg {
  position: absolute;
  top: calc(var(--statusHeight) + var(--space) - 10px);
  z-index: 10;
  transition: all 200ms ease-in;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
}
.progressRank-container .li.complete .status:before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: calc(var(--statusHeight) + var(--space));
  width: 100%;
  height: 3px;
  background-color: #b147f8;
  background-color: #b147f8;
  background-color: var(--purple-2);
  border: none;
  transition: all 200ms ease-in;
}
.progressRank-container .li.complete .status h4 {
  color: #554cff;
}
.wrapStatus {
  width: 100%;
  position: absolute;
  top: calc(var(--statusHeight));
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.m-cardPackage .m-baseItem_wrapper {
  position: relative;
}
.m-cardPackage .m-baseItem_start {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #b147f8;
  background-color: #b147f8;
  background-color: var(--purple-2);
}
.m-cardPackage .m-baseItem_center {
  display: flex;
  margin-bottom: 0.75rem;
}
.m-cardPackage .m-baseItem_center .svg_icon {
  margin-right: 0.75rem;
}
.m-cardPackage .m-baseItem_end .a-button {
  min-width: 5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  border-radius: 1rem;
  background-color: #b147f8;
  background-color: #b147f8;
  background-color: var(--purple-2);
}
.m-select {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.m-select_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
  border: 1px solid #fff;
  border: 1px solid #fff;
  border: 1px solid var(--white);
  border-radius: 0.375rem;
  padding: 0.75rem 1.25rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}
.m-select-noMargin {
  margin: 0;
}
.m-select-inline {
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.m-select-inline .m-select_label {
  margin-right: 2rem;
  min-width: 25%;
  max-width: 50%;
}
.m-select-inline .m-select_wrapper {
  margin-bottom: 0rem;
}
.card-select {
  height: 64px;
  border-radius: 0.375rem;
  position: relative;
}
.card-select-icon-selected {
  right: 0.25rem;
  top: 0.375rem;
}
.m-card-absolute .m-baseItem_wrapper {
  position: relative;
}
.m-card-absolute .m-baseItem_center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.m-card_image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.m-card_image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}
.m-card_image-img {
  width: inherit;
  height: inherit;
  object-fit: contain;
}
.m-card_image.radio-1x1 {
  position: relative;
}
.m-card_image.radio-1x1::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.m-card_image.radio-5x3 {
  position: relative;
}
.m-card_image.radio-5x3::before {
  content: '';
  display: block;
  padding-bottom: 60%;
}
.m-card_image.radio-8x5 {
  position: relative;
}
.m-card_image.radio-8x5::before {
  content: '';
  display: block;
  padding-bottom: 62.5%;
}
.m-card_image.radio-10x7 {
  position: relative;
}
.m-card_image.radio-10x7::before {
  content: '';
  display: block;
  padding-bottom: 70%;
}
.m-card_image.radio-4x5 {
  position: relative;
}
.m-card_image.radio-4x5::before {
  content: '';
  display: block;
  padding-bottom: 125%;
}
.l-PINCode_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.l-PINCode_text .a-typography + .a-typography {
  margin-top: 0rem;
}
.col-12 {
  flex: 0 1 100%;
  min-width: 100%;
}
.col-6 {
  flex: 0 1 50%;
  min-width: 50%;
}
.col-4 {
  flex: 0 1 33.3333333333%;
  min-width: 33.3333333333%;
}
.col-3 {
  flex: 0 1 25%;
  min-width: 25%;
}
.col-2 {
  flex: 0 1 16.6666666667%;
  min-width: 16.6666666667%;
}
.l-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
}
.l-header-content {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.l-header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.StackNavigator {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}
.StackScreen {
  -webkit-animation: fadeOut 0.2s ease-in forwards;
  animation: fadeOut 0.2s ease-in forwards;
  background-color: #fff;
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  transition: 0.2s ease-in;
}
.StackScreen.active {
  -webkit-animation: fadeIn 0.2s ease-out forwards;
  animation: fadeIn 0.2s ease-out forwards;
}
@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeOut {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes fadeOut {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.l-navigation_bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(13, 13, 13, 0.4);
}
.l-navigation_bottom-item {
  min-width: 20%;
  flex: 0 1 20%;
  display: flex;
  justify-content: center;
}
.l-screen_layout {
  width: 100vw;
  height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: max-height ease-out 270ms;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.l-screen_layout-header {
  background-color: rgba(0, 0, 0, 0);
  height: 44px;
  flex: none;
  position: relative;
  z-index: 1;
}
.l-screen_layout-header + .l-screen_layout-content {
  padding-top: 1.5rem;
}
.l-screen_layout-content {
  position: relative;
  width: 100%;
  flex: 1 1 auto;
  overflow-x: hidden;
}
.l-screen_layout-content::-webkit-scrollbar {
  display: none;
}
.l-screen_layout-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 999;
}
.l-screen_layout.noPaddingContent .l-screen_layout-content {
  padding-top: 0;
}
.l-scroll_view {
  overflow: scroll;
}
.l-scroll_view::-webkit-scrollbar {
  display: none;
}
.l-groupButtonBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.l-groupButtonBottom .a-button {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: bold;
  padding: 1rem;
  color: #fff;
  color: #fff;
  color: var(--white);
  border-radius: 1rem;
}
.l-groupButtonBottom .a-button + .l-groupButtonBottom .a-button {
  margin-left: 1rem;
}
.l-groupButtonBottom .a-button + .a-button {
  margin-left: 1rem;
}
.l-groupButtonBottom-box-shadow {
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05);
  padding-top: 1rem;
}
body {
  margin: 0 auto;
  color: var(--text-color);
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0;
  -webkit-user-select: none;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: 1rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.15rem;
}
h6 {
  font-size: 1.05rem;
}
input,
textarea {
  outline: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #d1d1d1;
}
input::placeholder,
textarea::placeholder {
  color: #d1d1d1;
}
.swiper {
  z-index: 0 !important;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  background: #fff;
  background: var(--pagination-circle);
}
.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #b147f8;
  background: #b147f8;
  background: var(--pagination-circle-active);
}
.w-22 {
  width: 5.5rem;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  object-fit: cover;
}
.absolute-center {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.absolute-1\/3 {
  position: absolute;
  -webkit-transform: translate(-50%, 33%);
  transform: translate(-50%, 33%);
  top: 0;
  left: 50%;
}
.blury-bg {
  position: relative;
  background-image: url(./images/85284a7778b4ee3ba36b.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  display: inherit;
  line-height: 1;
}
.legend-background :first-child {
  border-radius: 20px 0px 0px 20px;
}
.legend-background :last-child {
  border-radius: 0px 16px 16px 0px;
}
.ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.ellipsis-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
